html, body {
    height:100%;
    width:100%;
    background-color: #b677c5;
    font-family: arial;
      font-size: 12pt;
      margin: 0px 0px 20px 0px;
  }
  
      
.page{
    display: block;
    width: 1000px;
    min-height: 800px;
    overflow: auto;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    }

.pageHeader{
    background-color: #ffffff;
    text-align: center;
    color:  #2d2d2d;
    float: left;
    clear: none;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.pageBanner{
    background-color: #f2b4f3;
    text-align: center;
    color:  #2d2d2d;
    float: left;
    clear: none;
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.pageContent{
    float: left;
    text-align:center;
    color:  #2d2d2d;
    clear: none;
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }