html, body {
    height:100%;
    width:100%;
    background-color: #0b244c;
        font-size: 12pt;
        margin: 0px 0px 20px 0px
}

.page2{
	background-color: #0b244c;
	}

.pageHeader{
    background-image: url(../resources/Edited-anime-fan-art-Spirited-Away-night-Moon-moonlight-clouds-Haku-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
    color:  #2d2d2d;
    float: left;
    clear: none;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.headerImg {
    height: 80px;
    display: flex;
    height: 100px;
    padding-left: 20px;

}
.webTitle {
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: left;
    margin-left: 20px;
}

.navbar {
    background-color: #42768e;
    color: #FFFFFF;
    margin-top: 3px; 
    box-sizing: border-box; 
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    position: sticky;
    top: 0;
}

.navbar > *{ /*target all children of navbar, div, span, a ul, etc, > makes it so that it targets only the next layer*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar li{  /*targets all list items inside navbar, makes items a list */
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    list-style: none; /*get rid of bullet points*/
}

.navbar li a { /*for hyperlinks */
    color:#F8F9D1;
    text-decoration: none;
    font-size: 1em;
}  


.ul {
    margin: 0;
    padding: 0;
}


.pageFooter{
    background-color: #0b244c;
    font-size: medium;
    
    min-height: 80px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    
    }

.pageFooter a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    font-size: 1em;
    text-decoration: none;
}

.pageContent {
    background-color: rgb(140, 192, 212);
    color: #0e1a5a; /*color of questions and options*/
    height: 1000px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 15px; 

    font-family: 'Work Sans', sans-serif;

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 18%;

}

.QuizTitle{  /*Anime colour quiz */
    text-align: center;
    color:  #0e1a5a;
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.quiz{
    display: flex;
    justify-content: center;
}

.question{
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
    padding: 5px;
}

.answer{
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 20px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
  }

.answers label{
    display: block;
    margin-bottom: 10px;
}

button{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;

}

button:hover{
    background-color: #38a;
}


.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}
  
.results {
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
    color: purple;
}