html, body {
    height:100%;
    width:100%;
      margin: 0px 0px 20px 0px;
    scroll-behavior: smooth; /*does not work on safari on old iphones*/
  }
  
.page3{
    background-color: #F8F9D1;
    }

.pageHeaderbg {
    background-color: #FFFFFF;
    height: 250px;
    width: 100%;
}

.pageHeader{
    background-image: url(../resources/silentvoice3.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 250px -200px; /*area of photo to be used as background*/
    text-align: center;
    
    float: left;
    clear: none;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.headerImg {
    height: 80px;
    display: flex;
    height: 100px;
    padding-left: 20px;

}



.webTitle {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color:#F8F9D1; */
    color:#659874;
    text-align: left;
    margin-left: 20px;
}

.navbar {
    background-color: #659874;;
    color: #FFFFFF;
    margin-top: 3px; 
    box-sizing: border-box; 
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    position: sticky;
    top: 0;
    z-index: 2; /* set stacking order*/
}

.navbar > *{ /*target all children of navbar, div, span, a ul, etc, > makes it so that it targets only the next layer*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar li{ /*targets all list items inside navbar */
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    list-style: none; /*get rid of bullet points*/
}

.navbar li a { /*for hyperlinks */
    color:#F8F9D1;
    text-decoration: none;
    font-size: 1em;
}  


.ul {
    margin: 0;
    padding: 0;
}

/*page footer*/
.pageFooter{
    background-color: #F8F9D1;
    font-size: medium;
    
    min-height: 80px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    }

.pageFooter a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#659874;
    font-size: 1em;
}

/*color analysis nav selection*/
.navCAbody{
    min-height: 250px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.navCA {
    margin: 27px auto 0;
  
    position: relative;
    width: 70%;
    height: 200px;
    background-color: #659874;
    border-radius: 8px;
    font-size: 0;
  }

.navCA a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }

.navCA a .CAImageContainer{
    width: 120px; /* set width of the image */
    height: 120px; /* set height of the image */
    display: inline-block; /*because span is inline by default, but make it a block within the line*/
    border-radius: 50%; /*make container circular*/
    object-fit: cover;
    overflow: hidden; /*prevent image from overflowing, cutting excess img that overflows container*/
}

.navCA a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navCA .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 5px;
  }
  a:nth-child(1) {
    width: 33.3%; /*even width between all 3*/
  }
  a:nth-child(2) {
    width: 33.3%;
  }
  a:nth-child(3) {
    width: 33.3%;
  }

.navCA .start-Studio-Ghibli, a:nth-child(1):hover~.animation {
    width: 33%; /*size of colour bar*/
    left: 0; /*amount from the left*/
    background-color: #57dfc4; /*rgb(87,223,196)*/
  }
  nav .start-90s-Cyperpunk, a:nth-child(2):hover~.animation {
    width: 34%;
    left: 33%;
    background-color: #e97366; /*rgb (233, 115, 102)*/
  }
  nav .New-Age, a:nth-child(3):hover~.animation {
    width: 33%;
    left: 67%;
    background-color: #6eb3e1; /*rgb(110,179,225)*/
  }




/*studio ghibli section*/
.sgSection {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    position: relative;
    width: 85%;
    height: auto;
    background-color: #57dfc4;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sgTitle{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: center;
    padding: 0;
}

.sgintroGenreText{
    color:#F8F9D1;
    text-align: center;
}

.sgintroductionGenre {
    display: flex;
    justify-content: center;
    font-size: large;
    
}

.sgintroGenreTitle {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.sgpictureGenre{
    width: 100%;
    height: auto;
}

.sgpictureGenre img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*cyberpunk section*/
.cpSection {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    position: relative;
    width: 85%;
    height: auto;
    background-color: #e97366;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cpTitle{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: center;
    padding: 0;
}

.cpintroGenreText{
    color:#F8F9D1;
    text-align: center;
}

.cpintroductionGenre {
    display: flex;
    justify-content: center;
    font-size: large;
    
}

.cpintroGenreTitle {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.cppictureGenre{
    width: 100%;
    height: auto;
}

.cppictureGenre img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*new age section*/
.naSection {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    position: relative;
    width: 85%;
    height: auto;
    background-color: #6eb3e1;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.naTitle{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: center;
    padding: 0;
}

.naintroGenreText{
    color:#F8F9D1;
    text-align: center;
}

.naintroductionGenre {
    display: flex;
    justify-content: center;
    font-size: large;
    
}

.naintroGenreTitle {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.napictureGenre{
    width: 100%;
    height: auto;
}

.napictureGenre img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*movie details*/
.movie{
    color:#F8F9D1;
    text-align: center;
    margin: 20px;
}

.movieTitle {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
  
.movieTitlePic {
    width: 100%;
    height: auto;
}

.movieTitlePic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movieSummary {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.movieCA {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.moviepicCA {
    width: 150%;
    height: auto;
    font-size: large;
}

.moviepicCA img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movieAnalysisCA{
    width: 100%;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    
}


/*graphical Analysis*/
.graphicalAnalysis {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    min-height: 500px;
    padding: 50px;
    box-sizing: border-box;
    
}

.graphicalAnalysisTitle{
    color: #659874;
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    padding: 0;
}


.gaSection {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.gaBarChart {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.gaTitle {
    color: #659874;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0;
}
  
#barChart,
#barChart2 {
    width: 400px;
    height: auto;
}
  
.ChartText {
    width: 100%;
    height: auto;
    text-align: left;
    color: #23492e;
    padding-left: 20px;
    padding-right: 20px;
}
  
/* donutchart */
.donutSection {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gaDonutChart {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gaDonutTitle {
    color: #659874;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0;
}



  