/* colours: 
  text: #fafdfe
  alternative light: #f7e9e2  #ebb9ea
  mid blue: #42768e
  mid red: #aa3957
  dark bg: #0b244c

  */

/* Fonts */


html, body {
  height:100%;
  width:100%;
  padding: 50px
  background-color: black;
    font-size: 12pt;
    margin: 0px 0px 20px 0px;
}

.page{
	background-color: #0b244c;
    display: block;
	width: 1000px;
	min-height: 800px;
	overflow: auto;
	margin: 0px auto 0px auto;
	box-sizing: border-box;
	}

.pageHeader{
    background-image: url(../resources/Edited-anime-fan-art-Spirited-Away-night-Moon-moonlight-clouds-Haku-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
   
    color:  #2d2d2d;
    float: left;
    clear: none;
    min-height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.header-img {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.webTitle {
    font-size:xx-large;
    font-family: sans-serif;
    color:#F8F9D1;
    text-align: left;
    margin-left: 20px;

}

.navbar{
    background-color: #42768e;
    color: #FFFFFF;
    text-align: center;
    float: left;
    clear: none;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    }

.navbar *{
    display: inline;
    justify-content: space-between;
}

.navbar li{
    margin: 150px;
    color:#F8F9D1;
    text-decoration: none;
}

.navbar li a {
    color:#F8F9D1;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
.sticky + .navbar{
padding-top: 102px;
}

.pageBanner{
    background-image: url(../resources/Edited.yourNameWallpaper2.jpg);
    float: left;
    clear: none;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    }

.pageBannerText {
    color: #fafdfe;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.pageContent{
    background: rgb(11,36,76);
    background: linear-gradient(180deg, rgba(11,36,76,1) 0%, rgba(69,148,153,1) 50%, rgba(49,52,142,1) 100%);
    float: left; 
    clear: none;
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.pageFooter{
    background-color: #000000;
    color:#ffffff;
    float: left;
    clear: none;
    min-height: 200px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    }


.section1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.InsertPicture1 img {
    justify-content: center;
    float: left;
    border-radius: 25px;
    max-width: 60%;
    max-height: 60%;
}


.insertTextbox1 {
    float: right;
    text-align: left;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: right;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px;
    margin-left: auto;
    margin-right: 0px;
    border: 3px #000000;
    justify-content: right;
}

.section2{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.insertPicture2 {
    float: right;
    text-align: center;
    color: #ffffff;
    background-color: #7B658B;
    min-height: 350px;
	width: 800px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px; 
    text-align: center;
}

.insertTextbox2 {
    float: left;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px;
    border: 3px #000000;

}

.section3 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.insertPicture3 {
    float: left;
    text-align: center;
    color: #ffffff;
    background-color: #7B658B;
    min-height: 350px;
	width: 800px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px; 
    text-align: center;

}

.insertTextbox3 {
    float: right;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px;
    border: 3px #000000;
}