/* colours: 
  text: #fafdfe
  alternative light: #f7e9e2  #ebb9ea
  mid blue: #42768e
  mid red: #aa3957
  dark bg: #0b244c

  */

/* Fonts */


html, body {
  height:100%;
  width:100%;
  background-color: #0b244c;
    font-size: 12pt;
    margin: 0px 0px 20px 0px;
}

.page1{
	background-color: #0b244c;
	}

.pageHeader{
    background-image: url(../resources/akirabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
    color:  #2d2d2d;
    float: left;
    clear: none;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.headerImg {
    height: 80px;
    display: flex;
    height: 100px;
    padding-left: 20px;

}

.webTitle {
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: left;
    margin-left: 20px;
}

.navbar {
    background-color: black;
    color: #FFFFFF;
    margin-top: 3px; 
    box-sizing: border-box; 
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    position: sticky;
    top: 0;
}

.navbar > *{ /*target all children of navbar, div, span, a ul, etc, > makes it so that it targets only the next layer*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar li{ /*targets all list items inside navbar */
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    list-style: none; /*get rid of bullet points*/
}

.navbar li a { /*for hyperlinks */
    color:#F8F9D1;
    text-decoration: none;
    font-size: 1em;
}  


.ul {
    margin: 0;
    padding: 0;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
.sticky + .navbar{
padding-top: 102px;
} 

no longer need anymore^ , but for older chromes need
*/

.pageBanner{
    background-image: url(../resources/spiritedawaybg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    
    float: left;
    clear: none;
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    }

.pageBannerText {
    color: #fafdfe;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    height: 50%;
    padding: 20px;
}

.pageContent{
    background: rgb(11,36,76);
    /* background: linear-gradient(180deg, rgba(11,36,76,1) 0%, rgba(69,148,153,1) 50%, rgba(49,52,142,1) 100%); */
    background: linear-gradient(180deg, rgba(1, 1, 2, 1) 0%, rgba(169, 6, 52, 1) 30%, rgba(98, 17, 110, 1) 60%, rgba(49,52,142,1) 80%, rgb(0, 0, 0) 100%);
    float: left; 
    clear: none;
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 50px;
    }

.pageFooter{
    background-color: rgb(0, 0, 0);
    font-size: medium;
    
    min-height: 80px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    }

.pageFooter a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    font-size: 1em;
    text-decoration: none;
}

/* section 1*/
    .section1 { /*margin must be 0 for stuff inside flex for % trick to work*/
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .InsertPicture1 {
        width: 100%;
    }

    .InsertPicture1 img {
        border-radius: 25px;
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .insertTextbox1 {
        width: 100%;
        float: left;
        text-align: justify;
        color: #ffffff;
        min-height: 350px;
        vertical-align: middle;
        box-sizing: border-box; /*include padding and border into height and width of element */
        border: #000000;
        padding: 40px; 
    }

    .InsertPicture1 {
        width: 100%;
    }

    .InsertPicture1 img {
        border-radius: 25px;
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

/* section2*/
.section2 { /*margin must be 0 for stuff inside flex for % trick to work*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.InsertPicture2 {
    width: 100%;
}

.InsertPicture2 img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.insertTextbox2 {
    width: 100%;
    float: left;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 40px; 
}

.InsertPicture2 {
    width: 100%;
    float: right;
}

.InsertPicture2 img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}


/* .section2{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

    }

    .insertPicture2 {
        float: right;
        background-image: url(../resources/rgb-1.png);
        background-repeat: no-repeat;
        background: size 500px;;
        min-height: 350px;
        width: 800px;
        vertical-align: middle;
        box-sizing: border-box;
        border: #000000;
        margin: 50px; 
    }

    .insertTextbox2 {
        float: left;
        text-align: justify;
        color: #ffffff;
        min-height: 350px;
        width: 500px;
        vertical-align: middle;
        box-sizing: border-box;
        margin: 50px;
    }

    .section3 {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .insertPicture3 {
        float: left;
        background-image: url(../resources/FilmsCollage.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 350px;
        width: 800px;
        vertical-align: middle;
        box-sizing: border-box;
        border: #000000;
        margin: 50px; 
    }

    .insertTextbox3 {
        float: right;
        text-align: justify;
        color: #ffffff;
        min-height: 350px;
        width: 500px;
        vertical-align: middle;
        box-sizing: border-box;
        margin: 50px;
    } */