/* colours: 
  text: #fafdfe
  alternative light: #f7e9e2  #ebb9ea
  mid blue: #42768e
  mid red: #aa3957
  dark bg: #0b244c

  */

/* Fonts */


html, body {
  height:100%;
  width:100%;
  padding: 50px
  background-color: #0b244c;
    font-size: 12pt;
    margin: 0px 0px 20px 0px;
}

.page1{
	background-color: #0b244c;
	}

.pageHeader{
    background-image: url(../resources/Edited-anime-fan-art-Spirited-Away-night-Moon-moonlight-clouds-Haku-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
    color:  #2d2d2d;
    float: left;
    clear: none;
    min-height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.header-img {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.webTitle {
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8F9D1;
    text-align: left;
    margin-left: 20px;
}

.navbar *{ /*target all children of navbar, div, span, a ul, etc*/
    display: inline;
    justify-content: center;
}

.navbar li{ /*targets all list items inside navbar */
    margin: 200px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navbar li a { /*for hyperlinks */
    color:#F8F9D1;
    text-decoration: none;
    font-size: 1em;
}  

.navbar {
    background-color: #42768e;
    color: #FFFFFF;
    margin-top: 3px; 
    box-sizing: border-box; 
    min-height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.nav-container{ 
    padding: 10px 15px;
    display: flex;
    justify-content: center;

}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
.sticky + .navbar{
padding-top: 102px;
}

.pageBanner{
    background-image: url(../resources/Edited.yourNameWallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    clear: none;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    }

.pageBannerText {
    color: #fafdfe;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.pageContent{
    background: rgb(11,36,76);
    background: linear-gradient(180deg, rgba(11,36,76,1) 0%, rgba(69,148,153,1) 50%, rgba(49,52,142,1) 100%);
    float: left; 
    clear: none;
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    }

.pageFooter{
    background-color: #000000;
    color:#ffffff;
    float: left;
    clear: none;
    min-height: 200px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    }


.section1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.InsertPicture1 img {
    border-radius: 25px;
    width: 60%;
    height: auto;
    margin-left: 30px;
    object-fit: inherit;
}


.insertTextbox1 {
    /* float: right; */
    float: left;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
	padding: 50px; 
    margin: 50px;
    border: 3px #000000;
    /* margin-left: auto;
    margin-right: 0px; */
    /* justify-content: right; */
}

.section2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.insertPicture2 {
    float: right;
    background-image: url(../resources/rgb-1.png);
    background-repeat: no-repeat;
    background: size 500px;;
    min-height: 350px;
	width: 800px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
    margin: 50px; 
}

.insertTextbox2 {
    float: left;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: middle;
	box-sizing: border-box;
    margin: 50px;
}

.section3 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.insertPicture3 {
    float: left;
    background-image: url(../resources/FilmsCollage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 350px;
	width: 800px;
    vertical-align: middle;
	box-sizing: border-box;
    border: #000000;
    margin: 50px; 
}

.insertTextbox3 {
    float: right;
    text-align: justify;
    color: #ffffff;
    min-height: 350px;
	width: 500px;
    vertical-align: middle;
	box-sizing: border-box;
    margin: 50px;
}